{
  // We override existing configes here.
  // * @see http://eslint.org/docs/user-guide/configuring.html#extending-configuration-files
  // * 'standard' means, we override configs from an npm-package named 'standard'
  "extends": [
    "standard"
  ],
  "rules": {
    "semi": [2, "always"]
  },
  "env": {
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "should": true
  }

}
